#alertsComponent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.empty {
    align-items: center;
    justify-content: center;
    color: #a1a1a1;
}

.AlertView-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 100%;

    .alerts {
        width: calc(100% - 160px);
        border-right: 1px solid #474d54;
        padding-top: 5px;
        overflow-y: hidden;

        &:hover {
            overflow-y: overlay;
        }

        &.group-no .alert-detail.even {
            background: #474d54;
        }

        &.group-object,
        &.group-message {
            padding: 5px;
        }
    }

    .alert-item {
        min-width: 16px;
        height: 16px;
        background-size: contain;
        margin-right: 10px;
        background-repeat: no-repeat;

        &.warn {
            background-image: url('/img/alerts/warn.svg');
        }

        &.error {
            background-image: url('/img/alerts/error.svg');
        }

        &.info {
            background-image: url('/img/alerts/info.svg');
        }
    }

    .message-container {
        width: 40%;
        word-break: break-word;

        &.rule:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .dn-container {
            width: 60%;
        }
    }

    .message-group-container {
        .message-container,
        .dn-container {
            width: 100%;
            max-width: 100%;
        }
    }

    .message-container,
    .object-container {
        display: flex;
        align-items: flex-start;

        .alert-item {
            margin-top: 3px;
        }
    }

    .message-objects .dn-container,
    .object-container .dn-container {
        margin-left: 0;
    }

    .alert-detail {
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;
        padding: 0 5px;
    }

    .dn-container {
        display: flex;
        width: 60%;

        &:hover {
            cursor: pointer;

            .parts-container .dn-path .name,
            .kind {
                text-decoration: underline;
            }
        }

        .parts-container .dn-path span {
            margin: 0 4px 0 0;
            line-height: 20px;

            &:empty {
                margin: 0;
            }
        }

        .logo-container {
            display: flex;
            align-self: center;
        }

        .parts-container .dn-path {
            font-size: 13px;
            min-height: 20px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .dn-logo {
            height: 15px;
            width: 15px;

            &.big {
                height: 20px;
                width: 20px;
            }
        }

        .dn-part {
            margin-right: 5px;

            &:after {
                content: ' >';
            }

            &:last-child {
                margin-right: 0;

                &:after {
                    content: none;
                }
            }
        }
    }

    .message-objects {
        padding-left: 40px;
    }

    .group-options {
        width: 160px;
        padding: 10px;

        .option {
            display: flex;
            justify-content: center;
            border: 1px solid #666666;
            color: #666666;
            padding: 3px 5px;
            margin-bottom: 5px;

            &.selected {
                border: 1px solid white;
                color: white;
            }
        }
    }
}
