version: "1.0"
stages:
  - "clone"
  - "build"
  - versioning
  - "push"
steps:
  clone_init:
    title: Init Clone
    stage: clone
    image: codefresh/cli
    shell: bash
    commands:
      - export PRODUCT_NAME="portable"
      - cf_export PRODUCT_NAME="${PRODUCT_NAME}"
      - cf_export GITHUB_TOKEN=$(codefresh get context github --decrypt -o yaml | yq -y .spec.data.auth.password)
      - cf_export CICD_REPO_PATH="/codefresh/volume/cicd.git"
  main_clone:
    type: "git-clone"
    title: Clone Main Repo
    description: "Cloning main repository..."
    repo: "kubevious/${{CF_REPO_NAME}}"
    revision: "${{CF_BRANCH}}"
    stage: clone
  cicd_clone:
    title: Clone CI/CD Repo
    stage: clone
    image: 'alpine/git:latest'
    working_directory: "${{main_clone}}/.."
    commands:
      - pwd
      - ls -la
      - rm -rf cicd.git
      - 'git clone https://${{CF_REPO_OWNER}}:$GITHUB_TOKEN@github.com/${{CF_REPO_OWNER}}/cicd.git cicd.git'
      - ls -la
      - ls -la cicd.git/

  inject_version:
    title: Inject Version
    stage: build
    image: codefresh/cli
    shell: bash
    working_directory: "${{CICD_REPO_PATH}}/${{PRODUCT_NAME}}"
    commands:
      - pwd
      - ls -la
      - ../process-version-bump.sh
      - source version.sh
      - echo "module.exports = \"${PRODUCT_VERSION}\";" > /codefresh/volume/${PRODUCT_NAME}/src/version.js
      - cat /codefresh/volume/${PRODUCT_NAME}/src/version.js
      - cf_export PRODUCT_VERSION="${PRODUCT_VERSION}"
      - cf_export DOCKER_TAG="${PRODUCT_VERSION}"

  build_base:
    title: "Building Base Image"
    type: build
    image_name: "kubevious/${{PRODUCT_NAME}}"
    stage: build
    disable_push: true

  build_aws:
    title: "Building AWS Image"
    type: build
    image_name: "kubevious/${{PRODUCT_NAME}}"
    stage: build
    disable_push: true
    build_arguments:
      INSTALL_AWS=true

  build_gcloud:
    title: "Building GCLOUD Image"
    type: build
    image_name: "kubevious/${{PRODUCT_NAME}}"
    stage: build
    disable_push: true
    build_arguments:
      INSTALL_GCLOUD=true

  build_do:
    title: "Building DO Image"
    type: build
    image_name: "kubevious/${{PRODUCT_NAME}}"
    stage: build
    disable_push: true
    build_arguments:
      INSTALL_DO=true

  push_base:
    title: "Pushing Base Image"
    type: "push"
    stage: "push"
    image_name: "kubevious/${{PRODUCT_NAME}}"
    registry: "dockerhub"
    candidate: "${{build_base}}"
    tags:
      - latest
      - "${{DOCKER_TAG}}"

  push_aws:
    title: "Pushing AWS Image"
    type: "push"
    stage: "push"
    image_name: "kubevious/${{PRODUCT_NAME}}"
    registry: "dockerhub"
    candidate: "${{build_aws}}"
    tags:
      - aws
      - "aws-${{DOCKER_TAG}}"
      
  push_gcloud:
    title: "Pushing GCLOUD Image"
    type: "push"
    stage: "push"
    image_name: "kubevious/${{PRODUCT_NAME}}"
    registry: "dockerhub"
    candidate: "${{build_gcloud}}"
    tags:
      - gcp
      - "gcp-${{DOCKER_TAG}}"

  push_do:
    title: "Pushing DO Image"
    type: "push"
    stage: "push"
    image_name: "kubevious/${{PRODUCT_NAME}}"
    registry: "dockerhub"
    candidate: "${{build_do}}"
    tags:
      - do
      - "do-${{DOCKER_TAG}}"

  process_versioning:
    title: Process Versioning
    stage: push
    image: codefresh/cli
    shell: bash
    working_directory: "${{CICD_REPO_PATH}}"
    commands:
      - pwd
      - ls -la
      - /codefresh/volume/cicd.git/git-commit-push.sh "Version bump for ${PRODUCT_NAME} to ${PRODUCT_VERSION}"
