.header {
  height: 60px;
  width: 100%;
  background: #35373E;
  display: flex;
  align-items: center;

  .loading-icon {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15px;
  }

  .cluster {
    margin-top: 10px;
    padding-left: 15px;
    border-left: 1px solid white;
    display: flex;

    div {
      font-family: Montserrat, sans-serif !important;
    }

    .selected-text {
      color: #7D8D9C;
      margin-right: 10px;
    }

    .cluster-logo {
      width: 25px;
      height: 25px;
      margin-right: 5px;
      background: white;
      padding: 2px;
      object-fit: contain;
      border-radius: 3px;
      border: 1px solid #1E1E1E;
    }

    .not-selected-text, .cluster-name {
      text-decoration: underline;
      color: #449AFF;

      &:hover {
        cursor: pointer;
      }
    }

    .btn-cluster {
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("/img/cluster.svg");
      margin-left: 10px;
    }
  }

  .actions {
    position: absolute;
    top: 18px;
    right: 18px;

    .btn {
      border: none;
      width: 24px;
      height: 24px;
      margin-left: 15px;
      border-radius: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #35373E;

      img {
        width: 24px;
        height: 24px;
      }

      div {
        background-size: contain;
        width: 24px;
        height: 24px;
        opacity: 0.8;

        &:hover {
          opacity: 1.0;
        }
      }

      &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: 0.4s ease all;
      }
    }

    .btn-search {
      background-image: url("/img/header-btns/search.svg");
    }

    .btn-about {
      background-image: url("/img/header-btns/about.svg");
    }

    .btn-settings {
      position: relative;
      background: url("/img/header-btns/settings.svg") no-repeat center center;
      background-size: 20px;

      &:hover .settings-menu {
        display: block;
        opacity: 1;
        z-index: 100;
      }
    }

    .btn-github, .btn-slack, .btn-bug {
      padding: 0 !important;
    }
  }

  .settings-menu {
    width: 250px;
    padding: 18px 1px 1px;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 100;
    background: #35373E;
    text-align: left;

    .s-menu-item {
      display: block;
      padding: 6px 15px;
      color: white;

      &:hover {
        background: #1E1E1E;
      }
    }
  }
}
