img/close.svg
img/separator.svg
img/check/false.svg
img/check/true.svg
img/info.svg
img/popup.svg
img/collapse.svg
img/entities/app.svg
img/entities/configmap.svg
img/entities/configmaps.svg
img/entities/cont.svg
img/entities/crl.svg
img/entities/crlbndg.svg
img/entities/hpa.svg
img/entities/image.svg
img/entities/infra.svg
img/entities/ingress.svg
img/entities/initcont.svg
img/entities/launcher.svg
img/entities/netpol.svg
img/entities/netpols.svg
img/entities/node.svg
img/entities/nodes.svg
img/entities/ns.svg
img/entities/old/configmap.svg
img/entities/old/cont2.svg
img/entities/old/ns.svg
img/entities/old/old_service.svg
img/entities/old/vol.svg
img/entities/pod.svg
img/entities/port.svg
img/entities/psp.svg
img/entities/pv.svg
img/entities/pvc.svg
img/entities/raw.svg
img/entities/replicaset.svg
img/entities/rl.svg
img/entities/rlbndg.svg
img/entities/secret.svg
img/entities/service.svg
img/entities/storage.svg
img/entities/storclass.svg
img/entities/svcaccnt.svg
img/entities/vol.svg
img/entities/volume.svg
img/expand.svg
img/flags/radioactive.svg
img/flags/shared.svg
img/flags/xnamespace.svg
img/alerts/error.svg
img/alerts/info.svg
img/alerts/warn.svg
