.ClusterScreen-container {
  color: white;
  position: absolute;
  z-index: 1000;
  left: 80px;
  right: 80px;
  top: 80px;
  bottom: 80px;
  padding: 50px;
  border: 1px solid #999;
  background: #35373e;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8);
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .loading-box {
    width: 30px;
    color: white;
    margin-left: 20px;
  }

  .close-clusters {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  .add-config {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .add-config-icon {
      font-size: 24px;
      font-weight: bold;
      margin-right: 10px;
    }

    .add-config-text:hover {
      text-decoration: underline;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .clusters {
    .cluster {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #666;
      cursor: pointer;

      &.selected {
        background: #35373E;
      }

      .kubernetes-logo {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        background: white;
        padding: 2px;
        border-radius: 2px;
        object-fit: contain;
      }

      &:hover {
        background: #35373E;
      }
    }
  }

  .error-box {
    color: #E24C4B;

    .error-messages {
      margin-bottom: 20px;
    }
  }

  .commands {
    margin-top: 20px;

    .os-tabs {
      display: flex;

      .tab {
        padding: 5px 20px;
        color: #737888;

        &.selected {
          color: white;
          border: 1px solid #666;
          border-bottom: none;
          margin-bottom: -1px;
          background: #35373f;
          z-index: 1;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .command-box {
      border: 1px solid #666;
      padding: 10px;
      color: white;
      background: #35373f;
      position: relative;
      overflow: unset;
    }
  }

  .btn {
    background: #0b0b0c;
    color: white;
    outline: none;
    border: 1px solid #666;
    padding: 5px 10px;
    margin-top: 20px;

    &:hover {
      background: #35373E;
    }
  }

  .icon-wrapper {
    position: absolute;
    right: 30px;
  }
}

.CustomConfig-container {
  height: calc(100% - 50px);

  .react-codemirror2 {
    height: calc(100% - 40px);

    .CodeMirror {
      height: 100%;
    }
  }

  .btn {
    height: 45px;
  }

  .label-btn {
    height: 45px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}
